{% extends 'base.html' %}
{% block content %}
{% include 'shared/_navbar.html' %}
<div class="container">
<h1>
    상품 생성하기
</h1>
<form action="{% url 'posts:create' %}" method="POST">
{% csrf_token %}
<div class="form-group">
<label>상품 이름</label>
<input type="text" class="form-control" name="title">
</div>
<div class="form-group">
<label>상품 특징</label>
<textarea class="form-control" name="content"></textarea>
</div>
<input type="submit" value="상품 등록" class="btn btn-outline-primary">
</form>
</div>
{% endblock %}